
.wrapper{
	width: 1048px;
	margin: 0 auto;
}
.menu{
	float: left;
	width: 198px;
	background: #435483;
	height: 540px;
	position: relative;
	padding: 24px 0;


}
#memory_board{
	background: url('../images/texture_15_by_keymoon.jpg') 0 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	border:1px solid #999;
	width: 667px;
	height: 540px;
	padding: 24px;
	float: left;

	div{
		background: url('../images/texture_2_by_keymoon.jpg') 0 0 no-repeat;
	-webkit-background-size: cover;

	background-size: cover;

		border:#000 1px solid;
		width:71px;
		height:71px;
		float:left;
		margin:10px;
		padding:20px;
		font-size:64px;
		cursor:pointer;
		text-align:center;
	}
}

#timer, .best_result{
	color:#fff;
	left: 0;
	top: 0;
	padding: 10px;
	font-size: 1.5em;
	border-bottom: 1px solid #fff;
	margin: 0 5px;
}

.controls{
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
}

button{
	background: #fff;
	border: none;
	padding: 5px 10px;
	margin: 10px 5px;
	font-size: 1.3em;
	color:#435483;
	display: block;
	width: 188px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight: bold;
}

